body {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}

.navMenu ul li a {
    font-size: 20px;    
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 35px;
}

.menu.open ul {
    display: block;
    right: 70px;
    min-width: 250px;
    background-color: #60606e;
    position: absolute;
}

.menu ul {
    list-style: none;
    display: none;
}

.MainPart {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 45px;
    position: relative;
}

.ContainerPart {
    display: flex;
    justify-content: space-between;
}

.MainPicture {
    background-repeat: no-repeat;
    height: 851px;
    position: absolute;
    width: 100%;
}
.MainBlock {
    text-align: center;
    padding-top: 185px;
}
.SmallTitle {
    height: 32px;
    width: 98px;
    background-color: #7beec7;
    margin:  0 auto;
    font-size: 18px; 
    font-weight: bold;
}
.BigTitle {
    border: solid 11px #60606e;
    height: 100px;
    width: 555px;
    margin:  0 auto;
    font-size: 48px; 
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.99;
    color: #60606e;
}

.description {
    color: #878792;
    margin-top: 34px;
    opacity: 0.99;
    font-size: 16px;
}
.BlockAgency-image-img {
    opacity: 0.99;
}
.picHistory {
    height: 337px;
    width: 430px;
}
.BlockAgency {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    margin-top: 120px;
}
.history-title {
    font-size: 30px; 
    font-weight: bold;
    opacity: 0.99;
    margin-top: 25px;
    color: #60606e;
    text-transform: uppercase;
}
.NameNew {
    height: 21px;
    width: 66px;
    background-color: #7beec7;
    opacity: 0.99;
    position: absolute;
    margin-top: 25px;
    z-index: -1;
}
.description1 {
    color: #878792;
    margin-top: 15px;
    position: relative;
}
.block__btn {
    float: right;
    margin-top: 12px;
    background-color: #7beec7;
    height: 52px;
    width: 166px;
    opacity: 0.99;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 3px;
}
.ChooseContainer {
    height: auto;
    margin-bottom: 5%
}
.Choose-Title {
    font-size: 30px; 
    font-weight: bold;
    margin-top: 150px;
    color: #60606e;
    text-transform: uppercase;
    text-align: center;
}
.container p {
    font-size: 14px; 
    color: #60606e;
    text-align: center;
    margin-top: 20px;
}

.containerFlex {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.containerFlex_block {
    display: flex;
    flex-wrap: wrap;
}
.containerFlex_block1 {
    width: 50%;
}

.containerFlex_block1 img {
    margin-left: 38px;
}
.containerFlex_block1 h2 {
    font-size: 18px; 
    text-transform: uppercase;
    font-weight: bold;
    color: #60606e;
    margin-left: 38px;
    margin-top: 28px;
    margin-bottom: 28px;

}
.containerFlex_block1 ul li {
    font-size: 14px; 
    text-transform: uppercase;
    list-style: none;
    color: #60606e;
    margin-bottom: 28px;
    line-height: 3px;
}
.ContainerCategories {
    margin: 0 auto;
    width: 92%;
}
.categories {
    display: flex;
    justify-content: space-between;
 
}
.categories-title {
    font-size: 30px; 
    text-transform: uppercase;
    font-weight: bold;
    color: #60606e;
    margin-left: 38px;
    margin-top: 28px;
    margin-bottom: 28px;
}
.categories ul li {
    list-style: none;
}
.categories ul li a {
    font-size: 14px; 
    text-transform: uppercase;
    text-decoration: none;
    color: #60606e;
    margin-bottom: 28px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 20px;
}
.PortfolioPictures {
    width: 70%;
    display: flex;
    justify-content: space-around; 
}
.item-image {
    margin: 20px 0px;  
}
.green-block {
    background-color: #7beec7;
    height: 330px;
    padding: 0 2%;
}
.green-block-part {
    margin: 0 auto;
}
.part_section {
    display: flex;
    justify-content: space-around;
}

.section_white-text h2 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    line-height: 48px;
}
.section_white-text .section__white_btn {
    
    margin-top: 26px;
    background-color: #ffffff;
    height: 50px;
    width: 166px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #7beec7;
    border: none;
    border-radius: 3px;
}
.block_white-section {
    margin: 10px;
}
.part_section_white-section {
    height: 230px; 
    width: 553px;
    background-color: white;
    margin-top: 50px;
    
}
.part_section_white-section h2 {
    color: #60606e;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: bold;
    margin-left: 10px;
}

.part_section_white-section p {
    font-size: 16px;
    color: #878792;
    margin-left: 10px;
}
.input_1 {
    text-align: center;
}
.input_1 .name {
    width: 370px;
    height: 50px;
    margin-right: 0px;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #e5e5e5;
}

.input_1 .input_1_btn {
    width: 139px;
    height: 50px;
    margin-left: 370px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #7beec7;
    border: none;
}

.main-footer{
    height: 155px;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-section ul {
    display: flex;   
}
.footer-section li {
    list-style: none;
}

.footer-section ul li a {
    text-decoration: none;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 14px;
}
.horizontalLine {
    color: #9a9a9a;
    margin-left: 10px;
    margin-right: 10px;
}
.icon-section-text {
    margin-top: 5px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 14px;
}

.filterDiv {
    display: none;
}

.filterDiv.show {
    display: block;
}



@media screen and (max-width: 1024px) {
    .BigTitle {
        height: 160px;
        width: 90%;
    }
    .description {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .BlockAgency {
        display: inline-block;
        margin-top: 350px;
    }
    .picHistory {
        width: 100%;
        height: 100%;
        padding-left:5%;
        padding-right: 5%;
        margin: 0 auto;
    }

    .Block-text {
        text-align: center;
        font-size: 18px;
    }

    .description1 {
        padding-left: 2%;
        padding-right: 5%;
    }
    .block__btn {
        float: none;
    }

    .container p {
        font-size: 18px;
    }
    .containerFlex {
        display: inline-block;
        text-align: center;
    }
    .containerFlex_block {
        display: inline-block;
        text-align: center;
    }
    .containerFlex_block1 {
        width: 100%;
        height: 100%;
        text-align: center;
        
    }
    .pictAbout{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        padding-left:15%;
        padding-right: 5%;
        margin: 0 auto;  
    }

    .ChooseContainer {
        height: 100%;
    }
    .categories {
        display: inline-block;
        text-align: center;
    }
    .containerCategories {
        margin: 0;
        text-align: center;
        width: 85%;
    }
    .categories-title {
        font-size: 35px;
        text-align: center;
    }
    .PortfolioPictures {
        display: inline-block;
    }
    .green-block {
        height: 800px;
    }
    
    .part_section {
        display: inline-block;
        width: 100%;
    }
    .section_white-text h2 {
        font-size: 22px;
    }
    .section_white-text  {
        text-align: center;
    }

    .block_white-section {
        padding-left: 3%;
    }
    .common__section_white-section {  
        width: auto;
        height: 400px;
    }

    .part__section_white-section h2 {
        font-size: 18px;
    }

    .input_1 {
        text-align: start;
    }
    .input_1 .input_1_btn {
        width: 125px;
        height: 50px;
        margin-left: 0px;
        margin-top: 70px;
    }
   
    .input_1 .name {
        width: auto;
        height: 50px;
    }


    .footer-section {
        display: inline-block;
    }
    .footer-section ul {
        display: inline-block;
    }
    
    footer.main-footer {
        text-align: center;
    }

   
     

}

@media screen and (min-width: 1025px) and (max-width: 1100px) {
    .containerCategories {
        margin: 0;
    }
    .containerFlex_block1 ul li {
        font-size: 12px;
    }
    .section_white-text h2 {
        font-size: 25px;
    }
}